@import url("pygment_highlights.css");

/* --- General --- */

html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  position: relative;
  background: #FFF;
  min-height: 100%;
}

p {
  /*line-height: 1.25;*/
  margin: 10px 0;
  /*font-size: 110%;*/
  text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

h1 {
  text-align: left;
  margin-bottom: 2ex;
  font-size: 250%;
}


.front-title {
  font-size: 350%;
  margin-top: 5ex;
}

h2 {
  margin-top: 3ex;
  font-size: 150%;
  font-weight: bold;
}

h3 {
  font-size: 120%;
}

ul {
  list-style-type: square;
  padding: 0;
  margin: 0;
  margin-left: 1.3em; 
}


.container {
  max-width: 90ex;
}

a,
a:hover,
a:focus {
  color: #0869d8;
}

blockquote {
  color: #808080;
  font-style: italic;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 60px;
  padding-bottom: 15ex;
}

@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 60px;
  }
}

.main-explain-area {
  padding: 15px inherit;
}

.hideme {
  display: none;
}

img {
  max-width: 100%;
}

.profile {
  font-weight: 300;
  margin-top: 3ex;
  font-size: 200%;
}

.site-link {
  font-size: 140%;
  width: 10ex;
  height: 10ex;
  margin: 1ex;
}

.site-link i {
  margin-top: 0.5ex;
  font-size: 250%;
}

.site-links {
  text-align: center;
  margin-top: 5ex;
  margin-bottom: 15ex;
}

.volunteering-wrapper {
  width: 100%;
  min-height: 35ex;
}

.date-entries {
  margin-bottom: 2ex;
}

.wrapper {
  position: relative;
  width: 100%;
}

/* --- Navbar --- */

.navbar-custom {
  background: #FFF;
  border: none;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-brand {
  font-weight: 800;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  color: #404040;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #0869d8;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 0px 0;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}


/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background: #f5f5f5;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container:hover {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
  text-align: center;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
}

/* --- Footer --- */

footer {
  border-top: 1px #EAEAEA solid;
  font-size: 12px;
  padding-top: 5ex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

footer a {
  color: #404040;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .imprint-link {
  text-align: center;
}

footer .copyright {
  text-align: center;
  margin-bottom: 0;
  margin-top: 5px;
}


@media only screen and (min-width: 768px) {
  footer {
    padding: 10px 0;
  }
  footer .footer-links {
    font-size: 12px;
  }
  footer .copyright {
    font-size: 12px;
  }
}

/* --- Publication --- */

.publication {
  margin-top: 3ex;
  margin-bottom: 2ex;
}

.publication .title {
  font-weight: bold;
  font-size: 120%;
}

.publication .publisher {
  color: #808080;
}

.publication .abstract p {
  margin-top: 1ex;
  text-justify: inter-word;
}

.publication a {
  color: #404040;
}

.publication a:hover, a:focus {
  color: #0869d8;
}


/* --- Experience Entry --- */

.experience-entry {
  margin-top: 3ex;
  margin-bottom: 2ex;
}

.experience-entry .title {
  font-weight: 500;
  font-size: 120%;
}

.experience-entry .institution {
  color: #808080;
  margin-top: -0.5ex;
  margin-bottom: -1ex;
}

.experience-entry .date {
  float: right;
  font-family: 'Inconsolata';
  font-weight: 100;
  color: #808080;
}

/* --- Entry --- */

.entry {
  margin-top: 3ex;
  margin-bottom: 2ex;
  max-width: 50%;
  position: relative;
  float: left;
  padding-right: 0ex;
}

.wrapper .entry:nth-child(even) {
  padding-left: 4%;
}

.entry .title {
  font-weight: 500;
  font-size: 120%;
}

.entry .date {
  color: #808080;
}

.entry-header {
  border-bottom: 1px solid #0869d8;
  width: 100%;
}

.entry .entry-info {
  text-align: right;
  float: right;
}

.entry-info a {
  color: #404040;
}

.entry-info a:hover, a:focus {
  color: #0869d8;
}

.entry .institution {
  color: #808080;
}

.entry .content {
  margin-top: 0.5ex;
}

.date-entry {
  display: block;
  min-width: 100%;
}

.date-entry-date {
  min-width: 22%;
  float: left;
}

.date-entry-title {
  min-width: 100%;
  font-weight: 500;
  font-size: 120%;
  float: left;
  margin-bottom: 1ex;
}

.date-entries {
  margin-top: 2ex;
}

.wrapper {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 6ex;
}

.skill-entry {
  margin-top: 3ex;
  margin-bottom: 2ex;
  min-width: 25%;
  position: relative;
  float: left;
  margin-right: 4ex;
}

.skill-entry > ul {
  list-style-type: none;
  margin-left: 0ex;
}

.big-icon {
  float: left;
  text-align: center;
  margin-right: 3ex;
  margin-top: 0.5ex;
}

.big-icon i {
  font-size: 300%;
  color: #404040;
}

/* --- Post preview --- */

.post-preview {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: justify;
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;
  color: #404040;
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: #0869d8;
}

.post-preview .post-title {
  font-size: 150%;
  margin-top: 0;
}
.post-preview .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview .post-meta,
.post-heading .post-meta {
  color: #808080;
  font-style: italic;
  margin: 0 0 10px;
}
.post-preview .post-read-more {
  font-weight: 800;
}


/* --- Project --- */

.site {
  margin-bottom: 0.5ex;
}

.repo {
  margin-bottom: 0.5ex;
}

/* --- Tags --- */

.tag-container {
  line-height: 200%;
}


.tag {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #0869d8;
  border: 1px solid #0869d8;
  border-radius: 5px;
  padding: 2px;
  font-size: 70%;
  white-space: nowrap;
  margin-right: 0.2ex;
  margin-bottom: 1ex;
  display: inline-block;
}


/* --- Post and page headers --- */

.intro-header {
  margin: 80px 0 20px;
  position: relative;
  text-align: center;
}
.intro-header .page-heading {
  text-align: left;
}
.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading {
  padding: 100px 0;
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .post-heading h1 {
  margin-top: 0;
  font-size: 35px;
}
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 27px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}
.intro-header .post-heading .post-subheading {
  margin-bottom: 20px;
}
.intro-header.big-img .page-heading .page-subheading,
.intro-header.big-img .post-heading .post-subheading {
  font-weight: 400;
}
.intro-header.big-img .page-heading hr {
  box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
}
.intro-header.big-img .post-heading .post-meta {
  color: #EEE;
}
.intro-header.big-img .img-desc {
  background: rgba(30, 30, 30, 0.6);
  position: absolute;
  padding: 5px 10px;
  font-size: 11px;
  color: #EEE;
  right: 0;
  bottom: 0;
  display: none;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* --- Pager --- */

.pager li a {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: #FFF;
  border-radius: 0;
  margin-top: 5ex;

}

.pager li a:hover,
.pager li a:focus {
  color: #FFF;
  background: #0085a1;
  border: 1px solid #0085a1;
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .pager.blog-pager  {
    margin-top: 10px;
  }
}

.highlight pre {
  font-size: 12px;
}

/* --- Tables --- */

table {
  padding: 0;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}


/* --- Timeline --- */


.timeline {
   width: 100%;
   position: relative;
   overflow: hidden;
}

.timeline:before {
   content: '';
   position: absolute;
   top: 0;
   margin-left: 8.39em;
   width: 2px;
   height: 100%;
   background: #a8a6a6;
   z-index: 1
}

.timeline-date {
  margin-top: 5px;
  float: right;
  min-width: 8em;
  text-align: right;
  padding-right: 10px; 
}

.timeline-block {
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
   float: left;
}


.marker {
   min-width: 16px;
   height: 16px;
   border-radius: 50%;
   background: #a8a6a6;
   margin-top: 10px;
   z-index: 9999;
   position: relative;
   float: left;
}

.timeline-content{
  padding-left: 10px;
  margin-bottom: 1ex;
}

.timeline-content .timeline-title {
   margin-top: 5px;
   font-size: 120%;
   font-weight: 500
}


.timeline-content .timeline-institution {
   color: #808080;
}

.timeline-content p {
   line-height: 1.5em;
   word-spacing: 1px;
   margin-top: 0em;
   min-width: 100%;
}




/* --- Barchart --- */

ul.bargraph {
  padding: 0;
  margin: 0;
}

ul.bargraph li {
  height: 1.5em;
  color: white;
  text-align: left;
  line-height: 1.5em;
  margin-bottom: 2px;
  padding-left: 3px;
  background: #0869d8;
}

ul.bargraph li.scala {
  width:80%;
}

ul.bargraph li.python {
  width:25%;
}

ul.bargraph li.csharp {
  width:15%;
}

ul.bargraph li.rust {
  width:40%;
}

ul.bargraph li.java {
  width: 20%;
}

ul.bargraph li.c {
  width: 20%;
}


ul.bargraph li.swift {
  width: 20%;
}

ul.bargraph li.javascript {
  width: 70%;
}

#skills-charts {
  width: 100%;
  font-size: 80%;
  font-family: 'Inconsolata';
}

ul.bargraph li.loc {
  background: white;
  font-size: 70%;
  color: black;
  border-top: 1px solid black;
  width:100%;
  list-style-type: none;
}

ul.bargraph li.loc span.left {
    float: left;
    width: 35%;
  }

ul.bargraph li.loc span.right {
  float: right;
  margin-right: 3px;
}

/* --- Languages --- */


.language {
  float: left;
  margin-bottom: 1ex;
  margin-right: 5ex;
  margin-top: 2ex;
  min-width: 25%;
}

.language .title {
  font-weight: 500;
  font-size: 120%;
}

.proficiency-chart {
  color: #0869d8;
  float: right;
  font-size: 18px;
  margin-left: 0.5ex;
}

.proficiency {
  font-size: 90%;
  color: #808080;
}