{{ $ := .content }}

<div class="date-entry">
    <span class="date-entry-date">
      {{ if $.Params.end }}
        {{ if eq $.Params.start $.Params.end}}
          {{ with $.Params.start }}
            {{ . | dateFormat "01/2006" }}
          {{ end }}
        {{ else }}
          {{ with $.Params.start }}
            {{ . | dateFormat "01/2006" }}
          {{ end }} –
          {{ with $.Params.end }}
            {{ . | dateFormat "01/2006" }}
          {{ end }}
        {{ end }}
      {{ else }}
        Since
        {{ with $.Params.start }}
          {{ . | dateFormat "01/2006" }}
        {{ end }}
      {{ end }}
    </span>
    <span class="entry-info">
      {{ if $.Params.website }}
      <span><a href={{ $.Params.website }} ><i class="fa fa-globe" aria-hidden="true"></i></a></span>
      {{ end }}
    </span>

  <div class="date-entry-title">{{ $.Title }}</div>
</div>
