{{ $ := .content }}

<div class="date-entry">
    <div class="date-entry-date">
      {{ if $.Params.end }}
        {{ if eq $.Params.start $.Params.end}}
          {{ with $.Params.start }}
            {{ . | dateFormat "01/2006" }}
          {{ end }}
        {{ else }}
          {{ with $.Params.start }}
            {{ . | dateFormat "01/2006" }}
          {{ end }} –
          {{ with $.Params.end }}
            {{ . | dateFormat "01/2006" }}
          {{ end }}
        {{ end }}
      {{ else }}
        Since
        {{ with $.Params.start }}
          {{ . | dateFormat "01/2006" }}
        {{ end }}
      {{ end }}
    </div>

  <div class="date-entry-title">{{ $.Title }}</div>
</div>
