{{ $ := .content }}

<div class="entry">
  <div class="entry-header">
    <span class="date">
      {{ if $.Params.end }}
        {{ if eq $.Params.start $.Params.end}}
          {{ with $.Params.start }}
            {{ . | dateFormat "01/2006" }}
          {{ end }}
        {{ else }}
          {{ with $.Params.start }}
            {{ . | dateFormat "01/2006" }}
          {{ end }} –
          {{ with $.Params.end }}
            {{ . | dateFormat "01/2006" }}
          {{ end }}
        {{ end }}
      {{ else }}
        Since
        {{ with $.Params.start }}
          {{ . | dateFormat "01/2006" }}
        {{ end }}
      {{ end }}
    </span>
    <span class="entry-info">
      {{ if $.Params.website }}
      <span><a href={{ $.Params.website }} ><i class="fa fa-globe" aria-hidden="true"></i></a></span>
      {{ end }}
      {{ if $.Params.repo }}
      <span><a href={{ $.Params.repo }} ><i class="fab fa-github" aria-hidden="true"></i></a></span>
      {{ end }}
      {{ if $.Params.document }}
      <span><a href={{ $.Params.document }} ><i class="fa fa-file-alt" aria-hidden="true"></i></a></span>
      {{ end }}
      {{ if $.Params.demo }}
      <span><a href={{ $.Params.demo }} ><i class="fa fa-laptop" aria-hidden="true"></i></a></span>
      {{ end }}
    </span>
  </div>


  <div class="title">{{ $.Title }}</div>

  {{ if $.Params.institution }}
    <div class="institution">{{ $.Params.institution }}</div>
  {{ end }}

  <div class="content">
    {{ $.Content }}
  </div>

  {{ if $.Params.tags }}
    <div class="tags-container">
      {{ range $key, $value := $.Params.tags }}
        {{ partial "tag" $value }}
      {{ end }}
    </div>
  {{ end }}
</div>
