<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{{ .Title }}</title>

  <meta name="author" content="{{ .Site.Author.name }}" />

  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">
  {{ end }}

  <link rel="alternate" href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  <script src="{{ .Site.BaseURL }}js/jquery-3.3.1.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

  <link rel='stylesheet' id='fontawesome-css' href='{{ .Site.BaseURL }}css/fontawesome-all.css' type='text/css' media='all' />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/pygment_highlights.css" />
</head>
