<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <div role="main" class="container main-content">

      <div class="profile">
        <h2>Anna Scholtz</h2>
        Data Engineer, Open Source Enthusiast, Adventurer

        <ul class="list-inline text-center large-links">
          <li>
            <a href="https://github.com/scholtzan" title="GitHub">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://scholtzan.net/content/resume.pdf" title="CV">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-file-alt fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://de.linkedin.com/in/ascholtz" title="LinkedIn">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
      </div>

    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
