<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <div role="main" class="container">

      <div class="profile">
        Hello! <br><br>

        I am <b>Anna Scholtz</b>, a student developer and currently a graduate student at the University of British Columbia. I am interested in software architecture design and development of complex software systems. I enjoy writing code for work, fun and research. 
      </div>

    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
