<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body data-spy="scroll" data-target="#navbar">

    {{ partial "nav.html" . }}

    <div role="main" class="container main-content">
      <h1>Resume</h1>

      <h2 id="edu">Education</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "education" }}
            {{ partial "experience-entry" (dict "content" $page) }}
        {{ end }}
      </div>


      <h2 id="work">Work Experience</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "work" }}
            {{ partial "experience-entry" (dict "content" $page) }}
        {{ end }}
      </div>



      <h2 id="volunteering">Volunteering</h2>

      <div class="wrapper volunteering-wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "volunteering" }}
            {{ partial "experience-entry" (dict "content" $page) }}
        {{ end }}
      </div>


      <h2 id="competitions">Competitions</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "competition" }}
            {{ partial "experience-entry" (dict "content" $page) }}
        {{ end }}
      </div>


      <h2 id="awards">Awards</h2>

      <div class="wrapper">
        <div class="date-entries">
          {{ range $index, $page := where .Data.Pages "Type" "award" }}
              {{ partial "experience-entry" (dict "content" $page) }}
          {{ end }}
        </div>
      </div>



      <h2 id="publications">Publications</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "publication" }}
            {{ partial "publication" (dict "content" $page) }}
        {{ end }}
      </div>


      <h2 id="projects">Selected Projects</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "project" }}
            {{ partial "experience-entry" (dict "content" $page) }}
        {{ end }}
      </div>


      <h2 id="skills">Skills</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "skill" }}
            {{ partial "skill-entry" (dict "content" $page) }}
        {{ end }}
      </div>

      <h2 id="interests">Natural Languages</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "language" }}
            {{ partial "language" (dict "content" $page) }}
        {{ end }}
      </div>

      <h2 id="interests">Interests</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "interests" }}
            {{ $page.Content }}
        {{ end }}
      </div>

    </div>

    {{ partial "footer.html" . }}

    <script>
        $('body').scrollspy({
            offset: 150
        });
    </script>

  </body>
</html>
