<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body data-spy="scroll" data-target="#navbar">

    {{ partial "nav.html" . }}

    <div role="main" class="container main-content">
      <h1>Resume</h1>

      <h2 id="edu">Education</h2>

      <div class="wrapper">
        <div class="timeline">
          {{ range $index, $page := where .Data.Pages "Type" "education" }}
              {{ partial "timeline-entry" (dict "content" $page) }}
          {{ end }}
        </div>
      </div>

      <hr>

      <h2 id="work"> Work Experience</h2>

      <div class="wrapper">
        <div class="timeline">
          {{ range $index, $page := where .Data.Pages "Type" "work" }}
              {{ partial "timeline-entry" (dict "content" $page) }}
          {{ end }}
        </div>
      </div>

      <hr>

      <!-- todo: competitions -->

      <h2 id="activities">Volunteering</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "activity" }}
            {{ partial "entry" (dict "content" $page) }}
        {{ end }}
      </div>

      <h2 id="awards"><i class="fa fa-trophy" aria-hidden="true"></i> Awards</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "award" }}
            {{ partial "entry" (dict "content" $page) }}
        {{ end }}
      </div>

      <h2 id="publications"><i class="fa fa-book" aria-hidden="true"></i> Publications</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "publication" }}
            {{ partial "publication" (dict "content" $page) }}
        {{ end }}
      </div>


      <h2 id="projects"><i class="fa fa-code" aria-hidden="true"></i> Selected Projects</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "project" }}
            {{ partial "project" (dict "content" $page) }}
        {{ end }}
      </div>


      <h2 id="skills"><i class="fa fa-gears" aria-hidden="true"></i> Skills</h2>

      <div class="wrapper">
        {{ range $index, $page := where .Data.Pages "Type" "skill" }}
            {{ $page.Content }}
        {{ end }}
      </div>



    </div>

    {{ partial "footer.html" . }}

    <script>
        $('body').scrollspy({
            offset: 150
        });
    </script>

  </body>
</html>
